In [1]:
!which python

/anaconda3/bin/python

In [2]:
!python --version

Python 3.6.6 :: Anaconda custom (64-bit)

In [3]:
!pip freeze documentation/requirements.txt

absl-py==0.6.1
alabaster==0.7.12
altair==2.2.2
anaconda-client==1.7.2
anaconda-navigator==1.9.2
anaconda-project==0.8.2
appnope==0.1.0
appscript==1.0.1
arrow==0.12.1
asn1crypto==0.24.0
astor==0.7.1
astroid==2.0.4
astropy==3.0.5
atomicwrites==1.2.1
attrs==18.2.0
Automat==0.7.0
aws-sam-cli==0.6.2
aws-sam-translator==1.8.0
awscli==1.16.51
Babel==2.6.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.3
binaryornot==0.4.4
bitarray==0.8.3
bkcharts==0.2
blaze==0.11.3
bleach==3.0.2
bokeh==1.0.0
boto==2.49.0
boto3==1.9.36
botocore==1.12.41
Bottleneck==1.2.1
branca==0.3.0
brewer2mpl==1.4.1
certifi==2018.10.15
cffi==1.11.5
cftime==1.0.0b1
chardet==3.0.4
chevron==0.13.1
click==6.7
click-plugins==1.0.4
cligj==0.5.0
cloudpickle==0.6.1
clyent==1.2.2
colorama==0.3.9
conda==4.5.11
conda-build==3.16.1
conda-verify==3.1.1
constantly==15.1.0
contextlib2==0.5.5
cookiecutter==1.6.0
coverage==4.5.2
cryptography==2.3
cssselect==1.0.3
cycler==0.10.0
Cython==0.29
cytoolz==0.9.0.1
dask==0.19.4
datashape==0.5.4
dateparser==0.7.0
decorator==4.3.0
distributed==1.23.3
docker==3.5.1
docker-pycreds==0.3.0
docutils==0.14
entrypoints==0.2.3
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==3.0.9
Fiona==1.8rc1
Flask==1.0.2
Flask-Cors==3.0.6
folium==0.6.0
future==0.16.0
gast==0.2.0
GDAL==2.3.1
gevent==1.3.7
ggplot==0.11.5
glob2==0.6
gmpy2==2.0.8
greenlet==0.4.15
grpcio==1.16.1
h5py==2.8.0
heapdict==1.0.0
hpsklearn==0.1.0
html5lib==1.0.1
hyperlink==18.0.0
hyperopt==0.1.1
hypothesis==3.66.19
idna==2.7
imageio==2.4.1
imagesize==1.1.0
importlib-metadata==0.6
incremental==17.5.0
ipykernel==5.1.0
ipython==7.0.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
ItsDangerous==1.0.0
jdcal==1.4
jedi==0.13.1
Jinja2==2.10
jinja2-time==0.2.0
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.2
jupyterlab-launcher==0.13.1
jupyterlab-server==0.2.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keyring==15.1.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
libarchive-c==2.8
llvmlite==0.25.0
locket==0.2.0
lxml==4.2.5
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==2.2.2
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.6
mkl-random==1.0.1
more-itertools==4.3.0
mpmath==1.0.0
msgpack==0.5.6
multipledispatch==0.6.0
munch==2.3.2
navigator-updater==0.2.1
nb-conda==2.2.1
nb-conda-kernels==2.2.0
nbconvert==5.3.1
nbformat==4.4.0
netCDF4==1.4.1
networkx==2.1
nltk==3.3
nose==1.3.7
notebook==5.7.0
numba==0.40.0
numexpr==2.6.8
numpy==1.15.4
numpydoc==0.8.0
nxviz==0.5.0
oauthlib==2.1.0
odo==0.5.1
olefile==0.46
openpyxl==2.5.9
packaging==18.0
palettable==3.1.1
pandas==0.23.3
pandocfilters==1.4.2
parsel==1.5.0
parso==0.3.1
partd==0.3.9
path.py==11.5.0
pathlib2==2.3.2
patsy==0.5.0
pbr==5.1.1
pendulum==2.0.2
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
pkginfo==1.4.2
plotly==3.2.1
pluggy==0.8.0
ply==3.11
poyo==0.4.2
prometheus-client==0.4.2
prompt-toolkit==2.0.6
protobuf==3.6.1
psutil==5.4.7
ptyprocess==0.6.0
py==1.7.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.2
PyDispatcher==2.0.5
pyflakes==2.0.0
Pygments==2.2.0
pylint==2.1.1
pymongo==3.7.2
PyMySQL==0.9.2
pyodbc==4.0.24
pyOpenSSL==18.0.0
pypandoc==1.4
pyparsing==2.2.2
pyproj==1.9.5.1
PySocks==1.6.8
pytest==3.7.0
pytest-arraydiff==0.2
pytest-astropy==0.4.0
pytest-doctestplus==0.1.3
pytest-openfiles==0.3.0
pytest-remotedata==0.3.0
pytest-runner==4.2
python-dateutil==2.7.3
pytz==2018.5
pytzdata==2018.5
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==17.1.2
QtAwesome==0.5.1
qtconsole==4.4.2
QtPy==1.5.2
queuelib==1.5.0
regex==2018.11.7
requests==2.19.1
requests-oauthlib==1.0.0
retrying==1.3.3
rope==0.11.0
rsa==3.4.2
Rtree==0.8.3
ruamel-yaml==0.15.46
s3transfer==0.1.13
scikit-image==0.14.0
scikit-learn==0.20.0
scipy==1.1.0
Scrapy==1.5.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==17.0.0
Shapely==1.6.4.post1
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.12
six==1.11.0
snowballstemmer==1.2.1
sodapy==1.4.6
sortedcollections==1.0.1
sortedcontainers==2.0.5
Sphinx==1.8.1
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-websupport==1.1.0
spyder==3.3.1
spyder-kernels==0.2.6
SQLAlchemy==1.2.12
statsmodels==0.9.0
stevedore==1.30.0
sympy==1.3
tables==3.4.4
tblib==1.3.2
tensorboard==1.12.0
tensorflow==1.12.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
toolz==0.9.0
tornado==5.1.1
tqdm==4.26.0
traitlets==4.3.2
tweepy==3.6.0
Twisted==17.5.0
typed-ast==1.1.0
typing==3.6.4
tzlocal==1.5.1
unicodecsv==0.14.1
urllib3==1.23
vincent==0.4.4
virtualenv==16.1.0
virtualenv-clone==0.4.0
virtualenvwrapper==4.8.2
w3lib==1.19.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.54.0
Werkzeug==0.14.1
whichcraft==0.5.2
widgetsnbextension==3.4.2
wrapt==1.10.11
xlrd==1.1.0
XlsxWriter==1.1.2
xlwings==0.12.1
xlwt==1.2.0
zict==0.1.3
zope.interface==4.5.0

In [4]:
import pandas as pd

In [5]:
raw_data = pd.read_csv('raw/student-mat.csv')

In [5]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
school        395 non-null object
sex           395 non-null object
age           395 non-null int64
address       395 non-null object
famsize       395 non-null object
Pstatus       395 non-null object
Medu          395 non-null int64
Fedu          395 non-null int64
Mjob          395 non-null object
Fjob          395 non-null object
reason        395 non-null object
guardian      395 non-null object
traveltime    395 non-null int64
studytime     395 non-null int64
failures      395 non-null int64
schoolsup     395 non-null object
famsup        395 non-null object
paid          395 non-null object
activities    395 non-null object
nursery       395 non-null object
higher        395 non-null object
internet      395 non-null object
romantic      395 non-null object
famrel        395 non-null int64
freetime      395 non-null int64
goout         395 non-null int64
Dalc          395 non-null int64
Walc          395 non-null int64
health        395 non-null int64
absences      395 non-null int64
G1            395 non-null int64
G2            395 non-null int64
G3            395 non-null int64
dtypes: int64(16), object(17)
memory usage: 101.9+ KB

In [7]:
raw_data.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

[Column and Dataset Information](https://www.kaggle.com/dipam7/student-grade-prediction)

In [8]:
raw_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [9]:
raw_data.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

# Binary Features

There are ten binary features in the raw dataset. I will convert these from their descriptive labels to binary `(1, 0)` values for descriptive computational analysis (sum, count, looping) and machine learning. The columns that I will transform are the following:

column | description | current values | transformed values
-------|-------------|----------------|-------------------
school | the school attended by the student | MS and GP | 0 (MS) and 1 (GP)
sex | the student's gender | M and F | 0 (M) and 1 (F)
address | an urban or rural address | U and R | 0 (U) and 1 (R)
famsize | <=3 or >3 in the family | LE3 and GT3 | 0 (LE3) and 1 (GT3)
Pstatus | separated or together parents | A and T | 0 (A) and 1 (T)
schoolsup | learning after school hours | no and yes | 0 (no) and 1 (yes)
famsup | family support at home | no and yes | 0 (no) and 1 (yes)
paid | paid tutoring | no and yes | 0 (no) and 1 (yes)
activities | extracurricular activities | no and yes | 0 (no) and 1 (yes)
nursery | attended nursery school | no and yes | 0 (no) and 1 (yes)
higher | planning for higher education | no and yes | 0 (no) and 1 (yes)
internet | internet access at home | no and yes | 0 (no) and 1 (yes)
romantic | in a romantic relationship | no and yes | 0 (no) and 1 (yes)

# Testing

At the end of each column transformation, an assert statement will test to ensure that the values of the column only range from 0-1 and that the transformation has not altered the length of the column (395).

In [6]:
mymap = {'school': {'MS': 0, 'GP': 1},
        'sex': {'M': 0, 'F': 1},
        'address': {'U': 0, 'R': 1},
        'famsize': {'LE3': 0, 'GT3': 1},
        'Pstatus': {'A': 0, 'T': 1},
        'schoolsup': {'no': 0, 'yes': 1},
        'famsup': {'no': 0, 'yes': 1},
        'paid': {'no': 0, 'yes': 1},
        'activities': {'no': 0, 'yes': 1},
        'nursery': {'no': 0, 'yes': 1},
        'higher': {'no': 0, 'yes': 1},
        'internet': {'no': 0, 'yes': 1},
        'romantic': {'no': 0, 'yes': 1}}

for col, mapping in mymap.items():
    raw_data[col] = raw_data[col].map(mapping)

    assert raw_data[col].max() == 1 and raw_data[col].min() == 0
    assert len(raw_data[col]) == 395

In [11]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
school        395 non-null int64
sex           395 non-null int64
age           395 non-null int64
address       395 non-null int64
famsize       395 non-null int64
Pstatus       395 non-null int64
Medu          395 non-null int64
Fedu          395 non-null int64
Mjob          395 non-null object
Fjob          395 non-null object
reason        395 non-null object
guardian      395 non-null object
traveltime    395 non-null int64
studytime     395 non-null int64
failures      395 non-null int64
schoolsup     395 non-null int64
famsup        395 non-null int64
paid          395 non-null int64
activities    395 non-null int64
nursery       395 non-null int64
higher        395 non-null int64
internet      395 non-null int64
romantic      395 non-null int64
famrel        395 non-null int64
freetime      395 non-null int64
goout         395 non-null int64
Dalc          395 non-null int64
Walc          395 non-null int64
health        395 non-null int64
absences      395 non-null int64
G1            395 non-null int64
G2            395 non-null int64
G3            395 non-null int64
dtypes: int64(29), object(4)
memory usage: 101.9+ KB

# Correlated Features

`G1` and `G2` are described as period one and two grades. In my experience, these features would correspond to trimester one (G1) and trimester two (G2) grades which lead up to the final grade (G3) for the year. These two features —period one and two grades (G1 & G2)— are highly correlated to the responce variable (G3) because they represent the same grading process and performance metric that we are trying to predict. However, there is a powerful binary feature that can be engineered from these two features (G1 & G2) that gets to the source of improved learning perforance, resiliance, and grit; improved grades from period one to period two.

I will engineer a new binary feature that is `0` —for students who had grade depreciation or maintained the same grade from period one to period two— or `1` —for students who improved their grade from period one to period two— and use this new feature to perform statistical analysis and machine learning.

    improved = 0, if G1 - G2 >= 0
    improved = 1, if G1 - G2 < 0

In [7]:
period1 = raw_data.G1
period2 = raw_data.G2
print(type(period1), type(period2))

improved_list = []

for n in period1 - period2:
    if n >= 0:
        improved_list.append(0)
    else:
        improved_list.append(1)
        
raw_data['improved'] = improved_list

<class 'pandas.core.series.Series'> <class 'pandas.core.series.Series'>

In [8]:
raw_data.head(1)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,improved
0,1,1,18,0,1,0,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,1

# Remaining non-Numeric Features

At this point in feature engineering we have 4 non-numeric features; the mother's job (Mjob), the father's job (Fjob), the reason for attending the school (reason), and the student's guardianship status (guardian).

The mother's and father's job seem like significantly large categories ('teacher', 'health' care related, civil 'services', 'at_home' or 'other') and the highest percentage of respondents from both genders responded 'other'. There may be some significance in investigating the statistics for 'at_home' leading to a change in the response varible (G3). This could lead to a binary description of at home parents or working. However, there may be some correlation between the parent job columns and the guardian column. If the guardian column is 'other', then the parents may not be a strong presence within the family unit.

The reason for choosing the school doesn't naturally lend itself to a binary descriptor. The response choices are, close to 'home', school 'reputation', 'course' preference or 'other'. The hypothesis that I would like to investigate, does a thoughtful decision to attend the school (school 'reputation' or 'course' preference) lead to higher final grades? If we end up rejecting the null hypothesis and except that thoughtfully deciding to attend the school results in significantly higher grades, we can transform this feature to a binary, decided or not.

That leaves the guardian status with its input values ('mother', 'father' or 'other'). The hypothesis here would be that any parent guardian —mother or father— results in the same final grade. If we can accept this as true then this feature could also be a binary, parent guardian or not.

# Confidence interval for mother or father staying home (not leaving home for work) resulting in higher final grades

We want to be **99%** confident that having a mother or father at home will increase final grades.

    null hypothesis: there is no difference between having either parent at home and having both parents working
    alternate hypothesis: there is a significant difference

In [8]:
import numpy as np

at_home = raw_data[(raw_data['Mjob']=='at_home') | (raw_data['Fjob']=='at_home')]
not_at_home = raw_data[(~(raw_data['Mjob']=='at_home')) | (~(raw_data['Fjob']=='at_home'))]
print('at home mean final grade:', np.mean(at_home.G3), 
      '\nnot at home mean final grade:', np.mean(not_at_home.G3))
print('at home final grade standard deviation:', np.std(at_home.G3), 
      '\nnot at home final grade standard deviation:', np.std(not_at_home.G3))

at home mean final grade: 9.125
not at home mean final grade: 10.381443298969073
at home final grade standard deviation: 4.669456011618959
not at home final grade standard deviation: 4.548010325063925

In [9]:
def run_99_percent_confidence_interval(filter_with, filter_without, target_variable):
    std_mean_diff = np.sqrt(np.std(filter_with[target_variable]) ** 2 / len(filter_with[target_variable]) 
                        + np.std(filter_without[target_variable]) ** 2 / len(filter_without[target_variable]))
    observed_mean_diff = np.mean(filter_with[target_variable]) - np.mean(filter_without[target_variable])
    conf_int = std_mean_diff * 2.58
    
    print('We are 99% confident that the true difference of means lies between: {:.2f} and {:.2f}'.format(observed_mean_diff - conf_int, observed_mean_diff + conf_int))

In [10]:
run_99_percent_confidence_interval(at_home, not_at_home, 'G3')

We are 99% confident that the true difference of means lies between: -2.80 and 0.28

# Result

The resulting 99% confidence interval includes 0 and therefore we find no significant difference between having a parent at home and not having a parent at home.

****

# Confidence interval for thoughtful reason to attend school (course offerings or school reputation) resulting in higher final grades

We want to be **99%** confident that making a thoughtful decision to attend the school will increase final grades.

    null hypothesis: there is no difference between thoughtfully deciding or not
    alternate hypothesis: there is a significant difference

In [17]:
thoughtful = raw_data[(raw_data['reason']=='reputation') | (raw_data['reason']=='course')]
not_thoughtful = raw_data[(~(raw_data['reason']=='reputation')) | (~(raw_data['reason']=='course'))]
print('thoughtful mean final grade:', np.mean(thoughtful.G3), 
      '\nnot thoughtful mean final grade:', np.mean(not_thoughtful.G3))
print('thoughtful final grade standard deviation:', np.std(thoughtful.G3), 
      '\nnot thoughtful final grade standard deviation:', np.std(not_thoughtful.G3))

thoughtful mean final grade: 10.376
not thoughtful mean final grade: 10.415189873417722
thoughtful final grade standard deviation: 4.657319400685335
not thoughtful final grade standard deviation: 4.575639641460531

In [18]:
run_99_percent_confidence_interval(thoughtful, not_thoughtful, 'G3')

We are 99% confident that the true difference of means lies between: -1.0037312085983738 and 0.9253514617629289

# Result

The resulting 99% confidence interval includes 0 and therefore we find no significant difference between thoughfully choosing the school and simply choosing the school because it is close by or another reason.

****

# Confidence interval for mother guardianship resulting in higher final grades

We want to be **99%** confident that having a mother guardian will increase final grades.

    null hypothesis: there is no difference between mother and father guardians
    alternate hypothesis: there is a significant difference

In [19]:
mother = raw_data[raw_data['guardian']=='mother']
father = raw_data[raw_data['guardian']=='father']
print('mother mean final grade:', np.mean(mother.G3), 
      '\nfather mean final grade:', np.mean(father.G3))
print('mother final grade standard deviation:', np.std(mother.G3), 
      '\nfather final grade standard deviation:', np.std(father.G3))

mother mean final grade: 10.483516483516484
father mean final grade: 10.688888888888888
mother final grade standard deviation: 4.5886369544283125
father final grade standard deviation: 4.438829786840583

In [20]:
run_99_percent_confidence_interval(mother, father, 'G3')

We are 99% confident that the true difference of means lies between: -1.6091656837214805 and 1.1984208729766712

In [21]:
parent = raw_data[(raw_data['guardian']=='mother') | (raw_data['guardian']=='father')]
other = raw_data[(~(raw_data['guardian']=='mother')) | (~(raw_data['guardian']=='father'))]
print('parent mean final grade:', np.mean(parent.G3), 
      '\nother mean final grade:', np.mean(other.G3))
print('parent final grade standard deviation:', np.std(parent.G3), 
      '\nother final grade standard deviation:', np.std(other.G3))

parent mean final grade: 10.534435261707989
other mean final grade: 10.415189873417722
parent final grade standard deviation: 4.552818144372377
other final grade standard deviation: 4.575639641460531

In [22]:
run_99_percent_confidence_interval(parent, other, 'G3')

We are 99% confident that the true difference of means lies between: -0.7368563530598361 and 0.9753471296403698

# Result

The resulting 99% confidence interval includes 0 and therefore we find no significant difference between having a mother, father, or other guardian at home.

Therefore, we will leave these features without any further engineering and possibly weight them lower in the resulting prediction model.

****

# Missing Values

In many cases, the response variable —the final score of the student (G3)— is zero. This is worth investigating because primarily within an educational system, a zero on a final grade would indicate that the assessment was not attempted for any number of reasons.

In [23]:
missing_target = raw_data[raw_data['G3']==0]
pd.set_option('display.max_columns', 33)
missing_target.describe()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,improved
count,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.0,38.000000,38.000000,38.0,38.000000
mean,0.894737,0.605263,17.078947,0.263158,0.815789,0.947368,2.315789,2.289474,1.605263,1.973684,0.921053,0.026316,0.605263,0.210526,0.552632,0.736842,0.842105,0.789474,0.526316,3.842105,3.131579,3.210526,1.342105,1.921053,3.605263,0.0,7.526316,4.657895,0.0,0.131579
std,0.311012,0.495355,1.302421,0.446258,0.392859,0.226294,1.016227,1.112773,0.789782,0.914946,1.075063,0.162221,0.495355,0.413155,0.503897,0.446258,0.369537,0.413155,0.506009,1.000711,0.875216,1.318433,0.534047,1.171314,1.284828,0.0,1.811925,3.700083,0.0,0.342570
min,0.000000,0.000000,15.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,4.000000,0.000000,0.0,0.000000
25%,1.000000,0.000000,16.000000,0.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,1.000000,1.000000,0.000000,3.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.0,6.000000,0.000000,0.0,0.000000
50%,1.000000,1.000000,17.000000,0.000000,1.000000,1.000000,2.000000,2.000000,1.000000,2.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,0.0,7.000000,5.000000,0.0,0.000000
75%,1.000000,1.000000,18.000000,0.750000,1.000000,1.000000,3.000000,3.000000,2.000000,2.000000,1.750000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.750000,4.000000,4.000000,2.000000,2.000000,5.000000,0.0,9.000000,8.000000,0.0,0.000000
max,1.000000,1.000000,19.000000,1.000000,1.000000,1.000000,4.000000,4.000000,4.000000,4.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,5.000000,5.000000,3.000000,5.000000,5.000000,0.0,12.000000,10.000000,0.0,1.000000

In [24]:
missing_target.describe(include='object')

         Mjob   Fjob  reason guardian
count      38     38      38       38
unique      5      4       4        3
top     other  other  course   mother
freq       14     21      19       25

In [25]:
missing_G2_target = raw_data[(raw_data['G3']==0) & (raw_data['G2']==0)]

In [26]:
missing_G2_target.describe()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,improved
count,13.0,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.0,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.0,13.000000,13.0,13.0,13.0
mean,1.0,0.538462,16.538462,0.307692,0.846154,0.923077,2.615385,2.538462,1.923077,1.769231,0.846154,0.0,0.692308,0.076923,0.461538,0.692308,0.846154,0.769231,0.615385,4.384615,3.461538,3.769231,1.230769,1.769231,4.307692,0.0,7.461538,0.0,0.0,0.0
std,0.0,0.518875,1.391365,0.480384,0.375534,0.277350,0.960769,1.265924,0.954074,0.832050,1.214232,0.0,0.480384,0.277350,0.518875,0.480384,0.375534,0.438529,0.506370,0.506370,0.776250,1.091928,0.438529,1.091928,0.854850,0.0,2.436370,0.0,0.0,0.0
min,1.0,0.000000,15.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2.000000,2.000000,1.000000,1.000000,3.000000,0.0,4.000000,0.0,0.0,0.0
25%,1.0,0.000000,15.000000,0.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,4.000000,3.000000,3.000000,1.000000,1.000000,4.000000,0.0,6.000000,0.0,0.0,0.0
50%,1.0,1.000000,16.000000,0.000000,1.000000,1.000000,3.000000,3.000000,2.000000,2.000000,0.000000,0.0,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,4.000000,3.000000,4.000000,1.000000,1.000000,5.000000,0.0,7.000000,0.0,0.0,0.0
75%,1.0,1.000000,18.000000,1.000000,1.000000,1.000000,3.000000,4.000000,2.000000,2.000000,2.000000,0.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,4.000000,5.000000,1.000000,2.000000,5.000000,0.0,9.000000,0.0,0.0,0.0
max,1.0,1.000000,19.000000,1.000000,1.000000,1.000000,4.000000,4.000000,4.000000,3.000000,3.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,5.000000,5.000000,2.000000,4.000000,5.000000,0.0,12.000000,0.0,0.0,0.0

# Missing value analysis

The most significant result from reviewing the summary statistics is that all 38 students with missing final grades had perfect attendance. Alternately, a final grade was not reported and the attendance was not reported.

We can see from the second set of summary statistics that 13 of the 38 students with missing final grades also had missing period two grades.

My assumption here is that **13** students were in the schooling system long enough to record a period one grade and then left the school (which does not export a final attendance sum). There were also **25** students who stayed long enough in the system to record a period two grade and then left the school.

Based on this evidence and the underlying assumption, I will remove these entries from the dataset to give a clear prediction of final grades based on a holistic view of the program of study.

In [11]:
raw_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,improved
0,1,1,18,0,1,0,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,1
1,1,1,17,0,1,1,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,0
2,1,1,15,0,0,1,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,1
3,1,1,15,0,1,1,4,2,health,services,...,2,2,1,1,5,2,15,14,15,0
4,1,1,16,0,1,1,3,3,other,other,...,3,2,1,2,5,4,6,10,10,1

In [23]:
cleaned_data = raw_data[~(raw_data['G3']==0)]

In [27]:
print(cleaned_data.sort_values(by='G3').head())

assert 0 not in cleaned_data['G3'].values
print(cleaned_data['G3'].values)

     school  sex  age  address  famsize  Pstatus  Medu  Fedu      Mjob  \
216       1    1   17        0        1        1     4     3     other
384       0    0   18        1        1        1     4     2     other
18        1    0   17        0        1        1     3     2  services
79        1    1   16        0        1        1     3     4   at_home
373       0    1   17        1        1        1     1     2     other

         Fjob    ...    freetime goout  Dalc  Walc  health  absences  G1  G2  \
216     other    ...           4     5     2     4       1        22   6   6
384     other    ...           4     3     4     3       3        14   6   5
18   services    ...           5     5     2     4       5        16   6   5
79      other    ...           4     3     1     2       3        12   5   5
373     other    ...           5     5     1     3       1        14   6   5

     G3  improved
216   4         0
384   5         0
18    5         0
79    5         0
373   5         0

[5 rows x 34 columns]
[ 6  6 10 15 10 15 11  6 19 15  9 12 14 11 16 14 14 10  5 10 15 15 16 12
  8  8 11 15 11 11 12 17 16 12 15  6 18 15 11 13 11 12 18 11  9  6 11 20
 14  7 13 13 10 11 13 10 15 15  9 16 11 11  9  9 10 15 12  6  8 16 15 10
  5 14 11 10 10 11 10  5 12 11  6 15 10  8  6 14 10  7  8 18  6 10 14 10
 15 10 14  8  5 17 14  6 18 11  8 18 13 16 19 10 13 19  9 16 14 13  8 13
 15 15 13 13  8 12 11  9 18 12 11 12 15  9 11 13 11 11 10 14 10 12  8 13
 10 15 12  7 10  7 12 10 16 14 16 10  9  9 11  6  9 11  8 12 17  8 12 11
 11 15  9 10 13  9  8 10 14 15 16 10 18 10 16 10 10  6 11  9  7 13 10  7
  8 13 14  8 10 15  4  8  8 10  6 17 13 14  7 15 12  9 12 14 11  9 13  6
 10 13 12 11 12 12 12 18 13  8  5 15  8 10  8  8 12  8 13 11 14 18  8 12
  9 17 10 11 10  9 14 11 14 10 12  9  9  8 10  8 10 12 10 11 11 19 12 14
 15 11 15 13 18 14 11  8 14 16 11 10 14 18 13 12 18  8 12 10 13 11 11 13
 11  9 10 11 13  9 11 15 15 11 16 10  9 14  8 14 15 13 17 10 11 15 10 14
 16  9 15 13  8 13  8  8 11  9 13 11 10 16 13 12 10 15 12 10 13 10 11  9
 12 11  5 19 10 15 10 15 10 14  7 10  5 10  6  8  9 16  7 10  9]

In [28]:
cleaned_data.to_csv('processed/cleaned-data.csv')